:root {
    --bg-color: #6b5e5e;
    --border-color: #747474;
    --first-font-color: rgb(255, 255, 255);
    --second-font-color: #ff652f;
    --header-height: 10vh;
    --header-color: #272727;
    --footer-height: 5vh;
}
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Fredoka', sans-serif;
}

.contact-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Gochi Hand', cursive;
}

.contact-decription {
    width: 50%;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.map {
    display: flex;
    justify-content: center;
    border: 1rem solid #fff;
    margin-bottom: 2rem;
}

.form-container {
    width: 40%;
}

fieldset {
    position: relative;
    border: .2rem solid #000;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

legend {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    color: #fff;
    box-sizing: border-box;
    padding: .2rem .5rem;
}

.input-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .3rem;
}

input,
textarea {
    border: .2rem solid var(--border-color);
    border-radius: .3rem;
    box-sizing: border-box;
    padding: .2rem .5rem;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #000;
}


textarea {
    resize: none;
}

.send-btn {
    width: 5rem;
    cursor: pointer;
    background:linear-gradient(to bottom, #a1a1a1 5%, #2b2b2b 100%);
	background-color:#a1a1a1;
    font-size: 1.2rem;
    font-weight: 600;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: .5rem;
}

.send-btn:hover {
    background:linear-gradient(to bottom, #2b2b2b 5%, #a1a1a1 100%);
	background-color:#2b2b2b;
}

.send-btn:active {
    position: relative;
    bottom: .2rem;
}