:root {
    --bg-color: #6b5e5e;
    --border-color: #747474;
    --first-font-color: rgb(255, 255, 255);
    --second-font-color: #ff652f;
    --header-height: 10vh;
    --header-color: #272727;
    --footer-height: 5vh;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--first-font-color);
}

/*navigation*/

.header-container {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header-color);
    display: flex;
    align-items: center;
    position: fixed;
    top:0
}

.nav-bar {
    width: 100%;
    display: flex;
}

.nav-btn-list {
    list-style: none;
    width: 18rem;
    padding-left: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    cursor: pointer;
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    padding: .5rem 1rem;
    transition: .2s;
}

.nav-btn:hover {
    color: var(--second-font-color);
    border-color: var(--second-font-color);
}

.nav-btn:active {
    position: relative;
    bottom: .1rem;
}

.frenchie-icon{
    height: calc( var(--header-height) - .4rem);
    margin: .2rem 1rem;
}

/* content*/

#content {
    box-sizing: border-box;
    padding-top: calc( var(--header-height) + 1rem);
    padding-bottom: calc(var(--footer-height) + 1rem);
}

.main-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Gochi Hand', cursive;
}

.img-container {
    display: grid;
    place-items: center;
    margin-bottom: 2rem;
}

.main-cover {
    width: 35%;
    border: 1px solid var(--border-color);
    border-radius: 2rem;
}

.description-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.description {
    width: 50%;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
}
/*footer*/

.footer-container {
    height: var(--footer-height);
    background-color: var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
}

.github-link {
    margin: 0 .5rem;
}

.footer-container,
.github-link {
    color: var(--first-font-color);
}

.github-icon {
    height: 5vh;
}