:root {
    --bg-color: #6b5e5e;
    --border-color: #747474;
    --first-font-color: rgb(255, 255, 255);
    --second-font-color: #ff652f;
    --header-height: 10vh;
    --header-color: #272727;
    --footer-height: 5vh;
}

.menu-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-title {
    text-align: center;
    font-size: 3rem;
    font-family: 'Gochi Hand', cursive;
}

.menu {
    background-color: #F2EADF;
    width: 20rem;
    margin: 1rem;
    box-sizing: border-box;
    padding: 1.2rem;
    border: 2px solid var(--border-color);
    border-radius: 1.5rem;
    color: #000;
    font-family: 'Dancing Script', cursive;
    -webkit-box-shadow: .5rem .5rem 2rem 0 rgba(0,0,0,0.75);
    -moz-box-shadow: .5rem .5rem 2rem 0 rgba(0,0,0,0.75);
    box-shadow: .5rem .5rem 2rem 0 rgba(0,0,0,0.75);
}

.dish {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    position: relative;
}

.dish:hover {
    text-decoration: underline;
}

.dish-description {
    width: 100%;
    display: none;
    position: absolute;
    bottom: 1rem;
    left: 8rem;
    background-color: rgba(255, 255, 255, .7);
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: .5rem;
    padding: .2rem;
}

[id^=dog-info] {
    left: 10rem;
}

.bf-menu-container {
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}