body {
    margin: 0;
}

.nav-bar {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-btn-list {
    list-style: none;
    width: 18rem;
    display: flex;
    justify-content: space-between;
}

.nav-btn {
    cursor: pointer;
    border: 1px solid #424242;
    border-radius: .5rem;
    padding: .5rem 1rem;
}

.nav-btn:active {
    position: relative;
    bottom: .1rem;
}

.img-container {
    display: grid;
    place-items: center;
}

img {
    width: 50%;
}